*{
    box-sizing: border-box;
}

body{
    padding: 10px;    
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.submitLog{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.submitLog > div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.submitLog > div >input{
    width: 70%;
}

button{
    margin: 2rem;
}
