
*{
  box-sizing: border-box;
}

.operation{
  display: flex;
  justify-content: center;
  align-items: center;
}

.operation button{
  width: 100px;
}

main{
  display: flex;
  flex-direction: row;
  
}

.masterLeft{
  padding-left:25px;
  padding-right:25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


.masterRight{
  padding-left:25px;
  padding-right:25px;
}

.includesHardw{
  padding: 20px;
}

.percentages{
  display: flex;
  width: 80%;
  padding: 10px 0px;
}

.percentages input{
  text-align: center;
}

.rangePercentage{
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: .5rem;
  padding: 0px;
  margin:0px;
  justify-content: space-around;
  position: relative;
  top: -1.5rem;
}

.addedOperations{
  margin-left: 3rem;
}
